header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img.logo {
    height: 180px;
}
header .buttons-block .item {
    height: 60px;
    margin-left: 30px;
}
.navbar {
    background-color: #aebba8;
    color: black;

}
img.cart {
    height: 45px;
    margin-left: 5px;
    ;
}
nav .btn {

    border-radius: 0;
    border: 0;
    height: 60px;
    font-size: 1.3rem;
    width: 300px;


}
.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #aebba8;
    --bs-btn-border-color: #aebba8;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d1dbca;
    --bs-btn-hover-border-color: #d1dbca;
    --bs-btn-focus-shadow-rgb: #d1dbca;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #d1dbca;
    --bs-btn-active-border-color: #d1dbca;
    --bs-btn-active-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #aebba8;
    --bs-btn-disabled-border-color: #aebba8;



}
.dropdown-menu {
    border-radius: 0;
    width: 300px;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 10px
}
section{
    margin-top: 20px;
}
.content{
    margin: 15px 0;
    padding: 0;
}
.ads {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #d1dbca;
}

.card {
    width: 270px;
    margin-right: 10px;
    border-radius: 0;
    --bs-card-border-radius: 0;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
}

.heading {

    padding: 0;
}

.heading .row {
    display: flex;
    align-items: center;
}

.heading .line {
    background-color: #aebba8;
    height: 2px;
}

.row{
    margin: 0;
}

.btnlog {
    width: inherit;
    height: auto;
    margin: 10px;
}

.regOrLog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    background-color: #aebba8;
}

.regOrLog > p {
    margin: 20px;
    font-size: 20px;
}

footer {
    display: flex;
    align-items: center;
    background-color: #aebba8;
    height: 100px;
    margin-top: 50px;

}

.acceptLink {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px
}

.acceptLink:hover {
    text-decoration: none;
    color: white;

}

.cart-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.cart-list-item{
    display: flex;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 20px;
}

.cart-list-img{
    height: 300px;
    width: 250px;
}

.cart-item-wrapper{
    padding: 22px 30px 0 30px;
    background-color: white;
    width: 390px;
    min-height: 300px;
}

.cart-list-heading{
    margin-bottom: 42px;
}
.cart-shipping-wrapper{

    display: flex;
    flex-direction: column;
    padding: 22px 30px 0 30px;
    background-color: white;
    width: 390px;
    min-height: 306px;
}

.cart{
    display: flex;
    justify-content: space-between;
}

.cart-shipping{
    width: 360px;
}

.cart-list-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #575757;
    margin: 0 0 6px 0;
}


.cart-shipping-input{
    width: 340px;
    height: 45px;
    margin: 0 0 20px 0;
    padding: 0 0 0 17px;
}

.cart-grandtotal-text{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #575757;
    margin: 10px 0 6px 0;
}

.cart-shipping-heading{
    margin-bottom: 42px;
}
.cart-heading{

    margin: 15px 0 15px 0;
}


.account-heading{

    margin: 15px 0 15px 0;
}

.registration-content-wrapper{
    padding: 30px 0 96px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.registration-form-input {
    width: 340px;
    min-height: 44px;
    border: 1px solid #A4A4A4;
    margin: 20px 0 0 0;
    padding: 0 0 0 17px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.registration-form-name-legend {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    text-transform: capitalize;
}

.registration-text {
    max-width: 35%;
}

.registration-text-heading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;
    padding: 34px 0 0 0;
}

.registration-text-subheading {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    margin: 22px 0 0 0;
    display: block;
    max-width: 650px;
}

.registration-list {
    list-style: none;
}

.registration-list-item {
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    margin: 16px 0 0 43px;
    position: relative;
}

.registration-list-item::before {
    content: url(pics/check.svg);
    position: absolute;
    left: -43px;
}

.registration-fieldset {
    margin: 34px 0 0 0;
}

.registration-fieldset-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.registration-form-radio {
    margin: 33px 20px 0 0;
    display: none;
}

.registration-form-login-legend {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    color: #222224;
    text-transform: capitalize;
}

.registration-form-text {
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
    color: #B1B1B1;
    margin: 15px 0 0 0;
    display: block;
    max-width: 360px;
}

.registration-form-submit {
    width: 167px;
    height: 50px;
    margin: 40px 0 0 0;
    background: #F16D7F;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    position: relative;
    text-align: left;
    padding: 0 0 0 30px;
}

.registration-form-submit:hover {
    color: #F16D7F;
    background: #FFFFFF;
    border: 1px solid #F16D7F;
}



.registration-form-gender::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #A4A4A4;
    left: -34px;
    top: -3px;
}

.registration-form-gender {
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    text-transform: capitalize;
    margin: 34px 20px 0 34px;
    position: relative;
}


.card-body{
    display: flex;
    padding: none;
}
.card-title{
    display: flex;
    align-items: self-end;
    width: 100%;
    margin-bottom: 0;
}

.card-text{
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
}

.btn-addtofavorites{
  position: absolute;
  top: 0;
  left: 0;
}

.btn-buy{
  width: 100%;
}

.btn-removeFromCart{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15pt;
  padding: 0px;

}

.btn-removeFromCart-icon{
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  flex-direction: column;
}

.card-buttons{
  display: flex;
  justify-content: space-around;
}

.cart-total-checkout:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;
}

.cart-total-checkout {
    width: 273px;
    height: 50px;
    background-color: #F16D7F;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    margin: 17px 0 0 0;
    border: none;

    transition-property: background-color, color, border;

    transition-duration: 300ms;
}
